@import url('https://fonts.googleapis.com/css?family=Dosis:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i');

/* html {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	background: #fff;
} */

/* @import url("../fonts/font-awesome/css/font-awesome.css"); */
@import url("../src/Component/fonts/font-awesome/css/font-awesome.css");
/* @import url("../fonts//font-awesome/css/font-awesome.css"); */
@import url("../src/Component/fonts/elegant_font/HTML_CSS/style.css");
@import url("../src/Component/fonts/et-line-font/style.css");
/* @import url("./Animation.css"); */
/* @import url("../src/Component/et-line-font/style.css"); */
/* @import url("../fonts/elegant_font/HTML_CSS/style.css");
@import url("../fonts/et-line-font/style.css"); */

/* body {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 400;
	background: #555;
	color: #b0b3ba;
	line-height: 1.7em;
	padding: 0;
	display: none;
} */
body.de_light {
	color: #86888c;
}
body .owl-stage .owl-item {
    display: inline-block;
}
#wrapper {
	overflow: hidden;
	background:#fff;
}
.de-navbar-left #wrapper {
	overflow: visible;
}

.service-new{
    background: #ffffffeb;
 padding-top: 50px
}

ul.left-listing{
 list-style: none;
 margin-left: -35px;
}

ul.left-listing li{
     text-decoration: none;
 /* display: block; */
 /* background: #444; */
 margin-bottom: 2px;
 border-bottom: 1px solid #e3e3e3;
}

ul.left-listing li a{
     text-decoration: none;
 display: block;
 padding: 6px ;
 font-size: 16px;
}

ul.left-listing li a:hover{
     background: #ff6a05;
 color: #fff
}


.portfolio-page{
 margin:90px 0 0 !important
}

header {
 width: 100%;
 height: auto;
 position: absolute;
 top: 40px;
 left: 0;
 z-index: 1000;
 /* background: #404146; */
 padding:0;
 margin:0;
 transition: 0.3s ease-in;
 overflow: hidden;
}

header-bg{
	background: #404146;
}

.boxed header{
 margin-top:30px;
}
.boxed header #mainmenu > li ul.mega{
 top:120px;
}
header .info {
 display: none;
 color: #fff;
 padding: 10px 0 10px 0;
 width: 100%;
 z-index: 100;
 background: #242424;
}
header .info .col {
 display: inline-block;
 font-size: 12px;
}
header .info .col {
 padding-right: 30px;
}
header .info .col:last-child {
 padding-right: 0px;
}
header .info i {
 font-size: 14px;
 margin-right: 15px;
}
header .info .social.col {
 border: none;
}
header .info .social i {
 color: #fff;
 font-size: 14px;
 display: inline-block;
 float: none;
 padding: 0 10px 0 10px;
 margin: 0;
}
header .info strong {
 font-size: 12px;
}
header.header-bg {
 background: black;
 position: fixed;
 top: 0px;
}
header.transparent {
 background: rgba(0, 0, 0, 0.0);
}
body:not(.side-layout) header:not(.smaller):not(.header-mobile).header-light.transparent {
 background: rgba(255, 255, 255, 0.0);
}
header.autoshow {
 top: -120px;
 height: 70px !important;
}
/* header.autoshow.scrollOn, header.autoshow.scrollOff {
 -o-transition: .5s;
 -ms-transition: .5s;
 -moz-transition: .5s;
 -webkit-transition: .5s;
 transition: .5s;
 outline: none;
} */
header.autoshow.scrollOn {
 top: 0;
}
header.autoshow.scrollOff {
 top: -120px;
}
header div#logo {
 display: inline-block;
 float: left;
 font-family: "Oswald", sans-serif;
 color: white;
 margin-top:4px;
 margin-bottom: 4px;
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
 -ms-transition: all 0.3s;
 -o-transition: all 0.3s;
 transition: all 0.3s;
}
header .logo-2 {
 display: none;
}
header .logo-scroll {
 display: none;
}
header .logo, header .logo-2{
 font-family:"Dosis";
 color:#fff;
 font-size:40px;
 font-weight:300;
 width: 230px
}
header .logo-2{
 color:#333;
}
header nav {
 float: right;
}
header.header-full nav{
 float: left;
}
header nav a {
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
 -ms-transition: all 0.3s;
 -o-transition: all 0.3s;
 transition: all 0.3s;
}
header nav a:hover {
 color: #555;
}
header.smaller #mainmenu a {
 padding-top: 18px;
 padding-bottom: 18px;
}
header.smaller #mainmenu a {
 padding-top:34px;
 padding-bottom: 18px;
}
header.smaller #mainmenu li li a {
 padding-top: 2px;
 padding-bottom: 2px;
}
header.smaller #mainmenu ul{
 top: 70px;
}
header.smaller #mainmenu li ul.mega {
 top: 62px;
}
header.smaller #mainmenu ul ul {
 top: 0px;
}
header.smaller {
 height: 100px !important;
 background:#000;
 position: fixed;
 top: 0px;
 /*-webkit-box-shadow: 8px 8px 40px 0px rgba(0,0,0,0.3);
 -moz-box-shadow: 8px 8px 40px 0px rgba(0,0,0,0.3);
 box-shadow: 8px 8px 40px 0px rgba(0,0,0,0.3);
 */
}
header.smaller.bg-scroll-black{
 background:rgba(0, 0, 0, .6);
}
header.smaller .btn-rsvp {
 height: 100px;
 padding-top: 55px;
}
.boxed header.smaller {
 margin-top: 0px;
}
header.smaller div#logo,
header.s2 div#logo {
 
}
header.smaller.scroll-light {
 background: #fff;
}
.boxed header.smaller.scroll-light{
     background:#f2f2f2;
}
header:not(.header-light).smaller.scroll-light div#logo .logo {
 display: none;
}
header.smaller.scroll-light div#logo .logo-2 {
 display: inline-block;
}
header.smaller.scroll-light div#logo .logo-scroll {
 display: inline-block;
}
header.smaller.scroll-light #mainmenu a, header.header-mobile.header-light #mainmenu a {
 color: #333;
}
header.smaller.scroll-light #mainmenu li li a {
 color: #fff;
}
header.smaller.header-light div#logo .logo {
 display: none;
}
.logo-smaller div#logo {
 width: 150px;
 height: 30px;
 line-height: 65px;
 font-size: 30px;
}
.logo-smaller div#logo img {
 line-height: 75px;
 font-size: 30px;
}
.logo-smaller div#logo .logo-1 {
 display: none;
}
.logo-smaller div#logo .logo-2 {
 display: inline-block;
}
.logo-small {
 margin-bottom: 20px;
}
header.de_header_2 {
 height: 125px;
}
header.de_header_2.smaller {
 height: 70px;
}
header.de_header_2.smaller .info {
 position: absolute;
 opacity: 0;
 z-index: -1;
}
header.header-full{
 padding-left:40px;
 padding-right:40px;
}
.de-navbar-left {
 background: #151618;
}
.de-navbar-left #logo {
 padding: 40px;
 text-align: center;
 width: 100%;
}
.de-navbar-left header {
 position: relative;
 display: block;
 width: 100%;
 height: 100%;
 left: 0;
 background: none;
 padding: 30px;
 padding-right: 20px;
}
.de-navbar-left header #mainmenu {
 float: none;
 margin: 0;
 padding: 0;
}
.de-navbar-left header #mainmenu>li {
 display: block;
 margin: 0;
 float: none;
 text-align: center;
 font-family: "Montserrat";
 letter-spacing: 5px;
 font-size: 14px;
 padding: 0;
 padding-top: 10px;
 padding-bottom: 10px;
 border-bottom: solid 1px rgba(255, 255, 255, .1);
}
.de_light.de-navbar-left header #mainmenu>li {
 border-bottom: solid 1px rgba(0, 0, 0, .05);
}
.de-navbar-left header #mainmenu>li>a {
 padding: 0;
 opacity: .5;
}
.de_light.de-navbar-left header #mainmenu>li>a {
 color: #222;
}
.de-navbar-left header #mainmenu>li a:hover {
 opacity: 1;
}
.de-navbar-left header #mainmenu>li>a:after {
 content: none;
}
.de-navbar-left header nav {
 float: none;
}

/* subheader */

#subheader {
 text-align: center;
 overflow: hidden;
 padding: 100px 0 100px 0;
}
#subheader h1 {
 margin-top: 80px;
 font-size: 42px;
 font-weight:600;
}
#subheader.dark{
 background-color:#404146;
}
#subheader.dark h1{
 color:#fff;
}
.de-navbar-left #subheader {
 padding-bottom: 120px;
}
#subheader span {
 letter-spacing: 2px;
 display: inline-block;
 font-size: 15px;
 margin-top: 88px;
 color: #fff;
}
#subheader .crumb {
 font-size: 10px;
 letter-spacing: 3px;
 margin-top: 20px;
}
#subheader.dark .crumb {
 color: #fff;
}
#subheader .small-border-deco {
 display: block;
 margin: 0 auto;
 margin-top: 20px;
 width: 100%;
 height: 1px;
 background: rgba(255, 255, 255, .1);
}
#subheader .small-border-deco span {
 display: block;
 margin: 0 auto;
 height: 2px;
 width: 100px;
}
#subheader.dark h2, #subheader.dark h3 {
 color: #fff;
}
#subheader.dark h2 {
 font-size: 48px;
}
#subheader.s2{
 background:#f8f8f8;
 text-align:left;
 padding:120px 0 60px 0;
 border:solid 1px #eee;
 border-left:none;
 border-right:none;
}

#subheader.s2 h1,#subheader.s2 .crumb{
 margin:0;
 padding:0;
}

#subheader.s2 .crumb{
 float:right;
 margin-top:15px;
}

.de-navbar-left.de_light #subheader h1 {
 color: #222;
}

/* ================================================== */


/* navigation */


/* ================================================== */

#mainmenu {
 font-family: "Source Sans Pro";
 float: right;
 font-size: 14px;
 font-weight: 500;
}
#mainmenu ul {
 float: right;
 margin: 0px 0px;
 padding: 0px 0px;
 height: 30px;
}
#mainmenu li {
 margin: 0px 0px;
 padding: 0px 0px;
 float: left;
 display: inline;
 list-style: none;
 position: relative;
}
#mainmenu a {
 display: inline-block;
 padding: 25px 15px 25px 15px;
 line-height: 35px;
 text-decoration: none;
 color: #fff;
 text-align: center;
 outline: none;
}
#mainmenu a span{
 height:2px;
 display:block;
 background:#fff;
 margin-top:-5px;
 width:0;
 margin-left:50%;
}
#mainmenu a.active span{
 width:100%;
 margin-left:0%;
}
.header-light #mainmenu>li>a {
 color: #222;
}
/* #mainmenu li a:after {
 float: right;
 position: relative;
 font-family: "FontAwesome";
 content: "\f111";
 font-size: 6px;
 margin-left: 20px;
 margin-top: 0px;
 color: #f7c51e;
} */
#mainmenu li:last-child a:after {
 display: none;
}
#mainmenu.no-separator li a:after {
 font-size: 0px;
}
#mainmenu.line-separator li a:after {
 content: "/";
 font-size: 14px;
}
#mainmenu.circle-separator li a:after {
 content: "\f10c";
 font-size: 9px;
}
#mainmenu.strip-separator li a:after {
 content: "\f068";
 font-size: 9px;
}
#mainmenu.plus-separator li a:after {
 content: "\f067";
 font-size: 11px;
}
#mainmenu.square-separator li a:after {
 content: "\f096";
 font-size: 11px;
}
#mainmenu.heart-separator li a:after {
 content: "\f004";
 font-size: 8px;
}
#mainmenu li li {
 font-weight: normal;
 border-bottom: solid 1px #4c4d52;
}
#mainmenu li li:last-child {
 border-bottom: none;
}
#mainmenu li li a {
 padding: 2px 15px 2px 15px;
 border-top: none;
 color: #ccc;
 width: 100%;
 border-left: none;
 text-align: left;
}
#mainmenu li li a:hover {
 color: #111;
}
#mainmenu li li a:after {
 content: none;
}
#mainmenu li li li a {
 padding: 2px 15px 2px 15px;
 background: #404146;
}
#mainmenu li li a:hover, #mainmenu ul li:hover>a {
 color: #111;
 background: #1a8b49;
}
#mainmenu li ul {
 width: 210px;
 height: auto;
 position: absolute;
 top: 79px;
 left: 0px;
 z-index: 10;
 visibility: hidden;
 opacity: 0;	
 background: #404146;
}
#mainmenu li li {
 display: block;
 float: none;
 text-transform: none;
}
#mainmenu li>ul {
 margin-top: 0px;
}
#mainmenu li:hover>ul {
 visibility: visible;
 opacity: 1;
}
#mainmenu li ul ul {
 left: 100%;
 top: 0px;
}
#mainmenu li ul ul li a {
 background: #404146;
}
#mainmenu li:hover>ul {
 color: #1a8b49;
}
#mainmenu select {
 padding: 10px;
 height: 36px;
 font-size: 14px;
 border: none;
 background: #ff4200;
 color: #eceff3;
}
#mainmenu select option {
 padding: 10px;
}
#mainmenu .btn-type {
 padding: 0;
 margin: 0;
}
#mainmenu .btn-type a {
 background: #eee;
 padding: 0;
 margin: 0;
}
#mainmenu > li ul.mega{
 position:fixed;
 left:0;
 height:0%;
 width:100%;
 margin-top:30px;
 visibility: hidden;
 opacity: 0;
 overflow:hidden;
}
/* #mainmenu > li:hover ul.mega{
 visibility: visible;
 opacity: 1;
} */
#mainmenu > li#service:hover ul.mega{
	visibility: visible;
	opacity: 1;
}
#mainmenu li ul.mega > li{
 width:100%;
}
#mainmenu li ul.mega li.title{
     padding:0px 10px 15px 10px;
     text-align:left;
     color:#fff;
     font-weight:bold;
}
#mainmenu li ul.mega > li ul{
 position:static;
 visibility: visible;
 opacity: 1;
 left:0;
 float:none;		
 width:100%;
}
#mainmenu li ul.mega .inner{
 background:#404146;
}
#mainmenu ul.mega > li ul li{
 margin:0;
 padding:0;
}

#mainmenu li ul.mega .menu-content{
 background:#404146;
 padding:30px;
}

#mainmenu li ul.mega a.hover:hover{
 opacity:.5;
 background:none;
}
header.header-mobile #mainmenu > li ul.mega{
 visibility: visible;
 opacity: 1;
}
header:not(.header-mobile) #mainmenu > li:hover ul.mega{
 height:auto;
}
/* menu toggle for mobile */

#menu-btn {
 display: none;
 float: right;
 margin-top: 0px;
 width: 36px;
 height: 36px;
 padding: 6px;
 text-align: center;
 cursor: pointer;
}
#menu-btn:before {
 font-family: FontAwesome;
 content: "\f0c9";
 font-size: 24px;
}
#menu-btn:hover {
 background: #fff;
}
#menu-btn:hover:before {
 color: #222;
}
header.header-mobile.header-light, header.header-mobile.header-light #menu-btn, header.header-mobile.header-light #menu-btn:hover {
 background: none;
}
header.header-mobile.header-light #menu-btn {
 color: #222;
}

/* ================================================== */


/* content */


/* ================================================== */

#content {
 width: 100%;
 background: #fff;
 /* padding: 90px 0 90px 0; */
 padding: 0;
 z-index: 100;
}
.de_light #content {
 background: #ffffff;
}
#content {
 background: #18191b;
}
.boxed #wrapper{
 padding:50px !important;
}

/* ================================================== */


/* section */


/* ================================================== */

section {
	padding: 80px 0 80px 0;
	overflow: hidden;
	position: relative;
}
section {
	background: #18191b;
}
section.no-bg, #content.no-bg{
	background:none !important;
}
section.bg-dark,
.de_light section.bg-dark{
	background:#393a3e;
}




.overlay-gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef6548+0,0ea8cf+100&0.5+0,0.5+100 */
background: -moz-linear-gradient(45deg, rgba(136,73,227,0.8) 0%, rgba(73,145,227,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(136,73,227,0.8) 0%,rgba(73,145,227,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(136,73,227,0.8) 0%,rgba(73,145,227,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ef6548', endColorstr='#800ea8cf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.de-navbar-left .container-fluid .container {
	width: 100%;
}
.de-navbar-left section {
	padding: 70px;
}
.de_light section {
	background: #ffffff;
}
.section-fixed {
	position: fixed;
	width: 100%;
	min-height: 100%;
	height: auto;
}
.full-height {
	overflow: hidden;
}
#particles-js{
	width:100%;
	height:100%;
	position:absolute;
	z-index:0;
}

/* ================================================== */








































/* R E S P O N S I V E */


/* ================================================== */
	

/* R E S P O N S I V E */


/* ================================================== */
	

@media(min-width:980px) and (max-width: 1199px) {
	#mainmenu li a:after {
		margin-left: 15px;
	}
	.pf_full_width.gallery_border .item, .pf_full_width.gallery_border.pf_2_cols .item, .pf_full_width.gallery_border.pf_3_cols .item {
		float: left;
		width: 23.95%;
	}
}

@media(min-width:980px){
	.lg-text-white,
	.lg-text-white h1,.lg-text-white h2,.lg-text-white h3,.lg-text-white h4, .lg-text-white h5,
	.lg-text-white address span a,
	.lg-text-white address span a:hover{
		color:#fff;
	}
}

/* -------------------------------------------------- 
	design for 768px
	/* ================================================== */

@media (min-width: 768px) and (max-width: 979px) {
	.slider_text {
		padding-top: 0px;
	}
}
@media only screen and (max-width: 992px) {
	.text-center-sm {
		text-align: center;
	}
	#menu-btn {
		display: block;
		position: relative;
		float: right;
	}
	header {
		display: none;
	}
	header .info {
		display: none;
	}
	header.header-bg {
		background: rgba(0, 0, 0, 1);
		display: none;
	}
	header, header.fixed {
		display: block;
		position: inherit;
		margin: 0;
		padding: 0;
		margin-top: 0;
		height: auto;
		/* background: #000000; */
		padding: 15px 0 15px 0;
	}
	#de-sidebar {
		position: absolute;
		width: 100%;
		right: 1px;
	}
	header.side-header, .de_light header.side-header {
		position: absolute;
		display: block;
		height: 60px;
		top: 0;
		background: #000;
	}
	header.side-header #mainmenu {
		position: absolute;
		background: #000;
		margin: 0;
		top: 60px;
		left: 0;
		width: 100%;
	}
	header.side-header #logo .logo {
		display: none;
	}
	header.side-header #logo .logo-2 {
		display: inline-block;
		position: absolute;
		height: 30px;
		top: 15px;
		left: 40px;
	}
	header.side-header #menu-btn {
		position: absolute;
		top: 8px;
		right: 30px;
		height: 0;
		z-index: 2000;
		height: 35px;
	}
	header.side-header #mainmenu li {
		display: block;
	}
	header.side-header #mainmenu a, .de_light.de-navbar-left header #mainmenu>li>a {
		display: block;
		text-align: center;
		color: #fff;
	}
	.de_light.de-navbar-left header #mainmenu>li {
		border-bottom: solid 1px rgba(255, 255, 255, .1);
	}
	header.side-header #mainmenu a:hover {
		background: none;
	}
	header.side-header #mainmenu a:hover {
		background: none;
	}
	header.side-header .social-icons-2 {
		display: none;
	}
	header.autoshow {
		height: auto;
		top: 0;
	}
	header.autoshow #mainmenu li a {
		background: none;
	}
	header.header-mobile-sticky {
		position: fixed;
	}
	#subheader{
		padding: 0 0 0 0;
	}
	.de-navbar-left #subheader {
		padding: 0;
		margin: 0;
	}
	#subheader h1 {
		margin: 45px 0 45px 0;
	}
	#subheader span {
		display: none;
	}
	#subheader .crumb {
		display: none;
	}
	#mainmenu li ul{		
		background: none;
	}
	.de-navbar-left #subheader {
		padding-top: 70px;
	}
	.slider_text h1 {
		font-size: 32px;
	}
	.slider_text .description {
		display: none;
	}
	div#logo {
		margin-top: -15px;
	}
	#logo, #logo .inner {
		vertical-align: middle;
		height: auto;
	}
	#domain-check .text, #domain-check .button {
		width: 100%;
	}
	.container-4 .de-team-list {
		width: 49.9%;
		float: left;
		position: relative;
	}
	#testimonial-full blockquote {
		padding: 20px;
	}
	#revolution-slider {}
	nav {
		height:0;
	}
	#mainmenu {
		float: none;
		z-index: 200;
		width: 100%;
		margin: 0;
		padding: 0;

	}
	#mainmenu a {
		text-align: left;
		padding-left: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#mainmenu li li a, #mainmenu li li li a {
		padding-left: 0;
	}
	#mainmenu a:hover {
		background: #111;
	}
	#mainmenu a:hover {
		background: #111;
	}
	#mainmenu li ul {
		display: block;
		position: inherit;
		margin: 0;
		width: 100%;
	}
	#mainmenu li {
		border-bottom: solid 1px #eee;
		margin: 0;
		width: 100%;
		display: block;
	}
	#mainmenu li a:after {
		display: none;
	}
	#mainmenu li:last-child {
		margin-bottom: 30px;
	}
	#mainmenu li ul {
		border-top: solid 1px #eee;
		top: auto;
		width: auto;
		height: auto;
		position: inherit;
		visibility: visible;
		opacity: 1;
	}
	#mainmenu li ul a {
		width: 100%;
		background: none;
		border: none;
	}
	#mainmenu li ul li {
		border: none;
		padding-left: 40px;
	}
	#mainmenu li ul li a {
		display: block;
	}
	#mainmenu li ul li:last-child {
		border-bottom: none;
		margin: 0;
	}
	#mainmenu li ul li:last-child a {
		border-bottom: none;
	}
	#mainmenu li a {
		color: #888;		;
	}
	#mainmenu li li a {
		font-size: 10px;
	}
	#mainmenu li li a:hover {
		color: #fff;
	}
	header.header-mobile{
		overflow:hidden;
		position:relative;
	}
	header.header-mobile #mainmenu {
		float: none;
		z-index: 200;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	header.header-mobile #mainmenu a {
		text-align: left;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	header.header-mobile #mainmenu a:hover {
		background: none;
	}
	header.header-mobile #mainmenu li ul {
		display: block;
		position: inherit;
		margin: 0;
		width: 100%;
	}
	header.header-mobile #mainmenu li {
		border-bottom: solid 1px #eee;;
		margin: 0;
		width: 100%;
		display: block;
	}
	header.header-light.header-mobile #mainmenu li, header.header-light.header-mobile #mainmenu li ul li a {
		border-color: #eee;
	}
	header.header-dark.header-mobile{
		background:#222;
	}
	header.header-dark.header-mobile #mainmenu li{
		border-color: #333;
	}
	header.header-dark.header-mobile #mainmenu li a{
		color:#fff;
	}
	header.header-mobile #mainmenu li a:after {
		display: none;
	}
	header.header-mobile #mainmenu li:last-child {
		margin-bottom: 30px;
	}
	header.header-mobile #mainmenu li ul {
		border-top: none;
		top: auto;
	}
	header.header-mobile #mainmenu li ul a {
		width: 100%;
		background: none;
		border: none;
	}
	header.header-mobile #mainmenu li ul li {
		border: none;
		padding-left: 40px;
	}
	header #mainmenu li ul li:first-child {
		border-top: solid 1px #eee;
	}
	header.header-mobile #mainmenu li ul li a {
		display: block;
		border-bottom: solid 1px #eee;
	}
	header.header-mobile #mainmenu li ul li:last-child {
		border-bottom: none;
		margin: 0;
	}
	header.header-mobile #mainmenu li ul li:last-child a {
		border-bottom: none;
	}
	header.header-mobile #mainmenu li a {
		color: #888;
	}
	header.header-mobile #mainmenu li a:hover {
		color: #333;
	}
	header.header-mobile #mainmenu li li a {
		font-size: 12px;
	}
	header.header-mobile #mainmenu li li a:hover {
		color: #888;
	}
	header.header-mobile #mainmenu li ul {
		height: 0;
		overflow: hidden;
		position: relative;
		left: 0;
	}	
	header.header-mobile #mainmenu li ul li ul li:last-child {
		border-bottom: solid 1px #eee;
	}
	header.header-mobile #mainmenu li ul li ul {
		margin-bottom: 10px;
	}
	header.header-mobile #mainmenu>li>span {
		width: 36px;
		height: 36px;
		background: url(./Component/images/ui/arrow-down.png) center no-repeat;
		position: absolute;
		right: 0;
		margin-top: 10px;
		z-index: 1000;
		cursor: pointer;
	}
	header.header-mobile #mainmenu li span.active {
		background: url(./Component/images/ui/arrow-up.png)center no-repeat;
	}
	header.header-mobile #mainmenu li>ul>li>span {
		width: 36px;
		height: 36px;
		background: url(./Component/images/ui/arrow-down.png) center no-repeat;
		position: absolute;
		right: 0;
		margin-top: -45px;
		z-index: 1000;
		cursor: pointer;
	}
	header.header-mobile #mainmenu>li>ul>li>span.active {
		background: url(./Component/images/ui/arrow-up.png) center no-repeat;
	}
	header.header-mobile #mainmenu li ul li a {
		border-bottom: solid 1px #eee;
	}
	header.header-mobile #mainmenu li ul li:last-child>a {
		border-bottom: none;
	}
	header.header-light.header-mobile #mainmenu>li>span, header.header-light.header-mobile #mainmenu li>ul>li>span {
		background: url(../images/ui/arrow-down.png) center no-repeat;
	}
	header.header-light.header-mobile #mainmenu>li>span.active, header.header-light.header-mobile #mainmenu li>ul>li>span.active {
		background: url(../images/ui/arrow-up.png) center no-repeat;
	}
	/* header light */
	.header-light #mainmenu ul li a, .header-light #mainmenu ul li a:hover {
		color: #333;
	}
	
	header.header-mobile #mainmenu li ul.mega ul {
		height: auto;
	}
	
	#mainmenu li ul.mega{
	position:fixed;
	left:0;
	width:100%;
	margin-top:30px;
	display:block;
	padding:0;
	}
	#mainmenu li ul.mega > li{
		width:100%;
	}
	#mainmenu li ul.mega > li ul{
		position:static;
		visibility: visible;
		opacity: 1;
		left:0;
		float:none;		
		width:100%;
		margin-bottom:0 !important;
	}
	#mainmenu ul.mega > li ul li{
		margin:0;
		padding:0;
	}

	#mainmenu li ul.mega .menu-content{
		background:none;
		padding:0px;
	}
	
	header.header-mobile #mainmenu ul.mega li{
		border-bottom:solid 1px #eee;
		padding-left:0 !important;
	}
	
	header.header-mobile #mainmenu ul.mega li.title{
		color:#777;
		padding-top:12px;
		border-bottom:solid 1px #eee !important;
	}
	
	header.header-mobile #mainmenu ul.mega li:first-child{
		border-top:none;
	}
	
	.de_tab.tab_steps .de_nav {
		text-align: center;
	}
	.de_tab.tab_steps .de_nav li {
		display: block;
		margin: 0;
		padding: 0;
	}
	.de_tab.tab_steps .de_nav li span {
		margin: 0;
		margin-bottom: 40px;
		display: inline-block;
	}
	.de_tab.tab_steps .de_nav li .v-border {
		border: none;
	}
	.hidden-phone {
		display: none;
	}
	.grid_gallery .item {
		width: 100%;
	}
	.table {
		display: block;
	}
	.table [class*="col-"] {
		float: none;
		display: block;
		vertical-align: top;
	}
	.sm-hide {
		display: none;
	}
	.btn-rsvp {
		position: absolute;
	}
	.btn-close {
		position: relative;
	}
	.schedule-item .sc-info {
		padding-top: 20px;
	}
	
	.de_tab.tab_style_4 .de_nav li {
		min-width:100px;
	}
	
	#mainmenu a span{
		display:none;
	}
	
	.pf_full_width.grid{
		margin-left:1.5%;
	}
	
	.de_tab.tab_steps.style-2 .de_nav li.active .arrow{
		margin-top:-40px;
		margin-bottom:40px;

	}
	
	.table-custom-1{
		position:relative;
		height:auto;
	}
	
	.boxed header{
		margin-top:0;
	}
	
	.boxed #content{
		padding:0 !important;
	}
	#subheader.s2{
		padding:40px 0 40px 0;
	}
	#subheader{
		padding:40px 0 40px 0;	
	}
	.inner-padding {
	padding: 40px;
	}
	.xs-text-dark{
		color:#333333;
	}

	.pf_full_width.grid.pf_2_cols .item,
	.pf_full_width.grid.pf_3_cols .item,
	.pf_full_width.grid.pf_4_cols .item{
		width:100%;
	}

}

/* -------------------------------------------------- 
	custom for 320px & 480px 
	/* -------------------------------------------------- */

@media only screen and (max-width: 767px) {

	.timeline > li > .timeline-panel{
		width:100%;
		margin-bottom:40px;
	}

	.timeline > li > .timeline-badge{
		display: none;
	}

	.timeline > li > .timeline-panel:after{
		display: none;
	}

	.pricing-2-col .pricing-box, .pricing-3-col .pricing-box, .pricing-4-col .pricing-box, .pricing-5-col .pricing-box {
		width: 100%;
	}	
	#subheader .overlay-bg{
		padding:40px 0 40px 0;		
	}
	#subheader h1{
		font-size: 36px;
	}
	.container-4 .de-team-list {
		width: 100%;
		float: left;
		position: relative;
	}
	.countdown-section {
		font-size: 12px;
	}
	.countdown-amount {
		font-size: 36px;
	}
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.feature-box-image, .pricing-box {
		margin-bottom: 30px;
	}
	#filters li.pull-right {
		float: none;
	}
	.de_tab .de_nav li {
		display: block;
		width: 100%;
	}
	.pf_full_width .item {
		float: left;
		width: 49.9%;
	}
	.text-item {
		font-size: 48px;
		line-height: 48px;
	}
	.text-item i {
		font-size: 36px;
	}
	#de-sidebar {
		width: 100%;
		display: block;
		position: relative;
	}
	.gallery_border {
		margin-left: 0px;
	}
	.pf_full_width.gallery_border .item {
		width: 48.9%;
	}
	body.boxed {
		margin: 0px;
	}
	.schedule-item .sc-time {
		width: 100%;
		padding-bottom: 20px;
		float: none;
	}
	.schedule-item .sc-pic {
		width: 80px;
	}
	.schedule-item .sc-pic img {
		width: 60px;
	}
	.schedule-item .sc-name {
		padding-top: 5px;
	}
	.schedule-item .sc-info {
		float: none;
		display: block;
		width: 100%;
		clear: both;
		padding-top: 30px;
	}
	.schedule-item .sc-info h3 {
		margin-bottom: 10px;
	}
	.de_tab.tab_style_4 .de_nav {
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	.de_tab.tab_style_4 .de_nav li {
		min-width: 33.3%;
		width: 33.3%;
		border: none;
	}
	.de_tab.tab_style_4 .de_nav li:first-child, .de_tab.tab_style_4 .de_nav li:last-child {
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	
	.pf_full_width.grid{
		margin-left:.2%;
	}
	.pf_full_width.grid .item{
		width: 48.5%;
	}
	
	.display-table [class*="col-"] {
	display: block;
	}
	
	h1.big, h1_big {
        font-size: 8vw;
        line-height: 10vw;
    }
}

/* -------------------------------------------------- 
	design for 480px
	/* -------------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.feature-box-image, .pricing-box {
		margin-bottom: 30px;
	}
	header div#logo img {
		max-width: 200px;
		height: auto;
	}
}

/* -------------------------------------------------- 
	design for 320px
	/* -------------------------------------------------- */

@media only screen and (max-width: 480px) {


	.timeline > li > .timeline-panel{
		width:100%;
		margin-bottom:40px;
	}

	.timeline > li > .timeline-badge{
		display: none;
	}

	.timeline > li > .timeline-panel:after{
		display: none;
	}
	
	.pf_full_width .item {
		float: left;
		width: 100%;
	}
	.text-item {
		font-size: 32px;
		line-height: 32px;
	}
	.text-item i {
		font-size: 24px;
	}
	header div#logo img {
		max-width: 200px;
		height: auto;
	}
	.pf_full_width.gallery_border .item {
		width: 100%;
	}
	h3.s2 span {
		display: block;
		margin: 0;
		padding: 0;
	}
}
